<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.25877551460-ndjc7ujt6k05pj44ibje5vnj8ct3v27l</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>RadioApp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>25877551460-ndjc7ujt6k05pj44ibje5vnj8ct3v27l.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Bold.ttf</string>
		<string>SFProDisplay-Heavy.ttf</string>
		<string>SFProDisplay-Light.ttf</string>
		<string>SFProDisplay-Medium.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
		<string>SFProDisplay-Semobold.ttf</string>
		<string>SFProDisplay-Thin.ttf</string>
		<string>SFProDisplay-Ultralight.ttf</string>
		<string>SFProDisplay-Black.ttf</string>
	</array>
</dict>
</plist>
